.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-button{
  min-height: 5vh;
  color: black;
  background-color: white;
  font-size: medium;
  font-weight: 500;
}

#count-span{
  font-size: large;
  font-weight: 600;
  margin: 5vh 3vw;
}
